/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	p {
		font-size: 14px;
	}
	.navbar-nav {
		background: #F7F9FF;
		text-align: center;
		padding: 20px 0;
		border-radius: 5px;
	}
	#banner{
		text-align: center;
		height: 100vh;
	}
	.banner-content {
		padding-top: 120px;
	}
	.banner-left-content h2 {
		font-size: 28px;
		line-height: 40px;
	}
	#banner h2 span {
		font-size: 28px;
	}
	#banner p {
		font-size: 15px;
		letter-spacing: 5px;
	}
	#banner a.primary-btn {
		font-size: 15px;
		padding: 5px 20px;
		margin-right: 10px;
		margin-top: 15px;
	}
	#banner a.primary-btn-2 {
		font-size: 15px;
		padding: 5px 20px;
		margin-top:15px;
	}
	#banner img {
		margin-top: 65px;
	}
	#services {
		padding-bottom: 50px;
		text-align: center;
	}
	.services-content-inner-left h2 {
		font-size: 28px;
		line-height: 40px;
	}
	.services-content-inner-left h2 span {
		font-size: 28px;
	}
	.service-box-right {
		text-align: left;
	}
	#why-we {
		padding: 50px 0;
	}
	#why-we img {
		margin-bottom: 30px;
	}
	.title h2 {
		font-size: 28px;
		line-height: 40px;
	}
	#why-we .title::after {
		width: 54%;
	}
	.mbl-responsive {
		margin-top: 75px;
		z-index: -1;
	}
	#team {
		padding: 50px 0;
	}
	#team .team-content {
		padding-top: 50px;
	}
	#team .item {
		margin-bottom: 20px;
	}
	#counter-area {
		padding-top: 60px;
		padding-bottom: 15px;
	}
	.counter-box {
		margin-bottom: 45px;
	}
	.gallery-nav-item {
		margin-top: 10px !important;
	}
	.gallery-nav-item .nav-link {
		margin-top: 20px;
	}
	#project-gallery {
		padding: 50px 0;
	}
	.cv-left-content h2 {
		font-size: 28px;
		line-height: 40px;
	}
	#cv{
		text-align: center;
		padding: 50px 0;
	}
	#cv h2 span {
		font-size: 28px;
	}
	#cv p {
		font-size: 15px;
		letter-spacing: 5px;
	}
	#cv a.primary-btn {
		font-size: 15px;
		padding: 5px 20px;
		margin-right: 10px;
		margin-top: 15px;
	}
	#cv img {
		margin-top: 50px;
	}
	
	#contact-us {
		padding: 50px 0;
	}
	.title h2 {
		font-size: 26px;
		line-height: 40px;
	}
	.contact-inner {
		padding: 30px;
		margin: 0px 0px;
	}
	.contact-inner input {
		width: 100%;
	}
	footer{
		text-align: center;
		padding: 50px 0;
	}
	.information, .subscribe-us, .useful-links{
		margin-top: 30px;
	}
	.search {
		padding: 10px 5px;
		margin-left: 50px;
		margin-right: 50px;
	}
	.search input {
		width: 80%;
	}
	
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	p {
		font-size: 14px;
	}
	.navbar-nav {
		background: #F7F9FF;
		text-align: center;
		padding: 20px 0;
		border-radius: 5px;
	}
	#banner{
		text-align: center;
		height: 100vh;
	}
	.banner-content {
		padding-top: 120px;
	}
	.banner-left-content h2 {
		font-size: 28px;
		line-height: 40px;
	}
	#banner h2 span {
		font-size: 28px;
	}
	#banner p {
		font-size: 15px;
		letter-spacing: 5px;
	}
	#banner a.primary-btn {
		font-size: 15px;
		padding: 5px 20px;
		margin-right: 10px;
		margin-top: 15px;
	}
	#banner a.primary-btn-2 {
		font-size: 15px;
		padding: 5px 20px;
		margin-top:15px;
	}
	#banner img {
		margin-top: 65px;
	}
	#services {
		padding-bottom: 50px;
		text-align: center;
	}
	.services-content-inner-left h2 {
		font-size: 28px;
		line-height: 40px;
	}
	.services-content-inner-left h2 span {
		font-size: 28px;
	}
	.service-box-right {
		text-align: left;
	}
	#why-we {
		padding: 50px 0;
	}
	#why-we img {
		margin-bottom: 30px;
	}
	.title h2 {
		font-size: 28px;
		line-height: 40px;
	}
	#why-we .title::after {
		width: 54%;
	}
	.mbl-responsive {
		margin-top: 75px;
		z-index: -1;
	}
	#team {
		padding: 50px 0;
	}
	#team .team-content {
		padding-top: 50px;
	}
	#team .item {
		margin-bottom: 20px;
	}
	#team img {
		height: 500px;
		object-position: top center;
	}
	#counter-area {
		padding-top: 60px;
		padding-bottom: 15px;
	}
	.counter-box {
		margin-bottom: 45px;
	}
	.gallery-nav-item {
		margin-top: 10px !important;
	}
	.gallery-nav-item .nav-link {
		margin-top: 20px;
	}
	#project-gallery {
		padding: 50px 0;
	}
	.cv-left-content h2 {
		font-size: 28px;
		line-height: 40px;
	}
	#cv{
		text-align: center;
		padding: 50px 0;
	}
	#cv h2 span {
		font-size: 28px;
	}
	#cv p {
		font-size: 15px;
		letter-spacing: 5px;
	}
	#cv a.primary-btn {
		font-size: 15px;
		padding: 5px 20px;
		margin-right: 10px;
		margin-top: 15px;
	}
	#cv img {
		margin-top: 50px;
	}
	
	#contact-us {
		padding: 50px 0;
	}
	.title h2 {
		font-size: 26px;
		line-height: 40px;
	}
	.contact-inner {
		padding: 30px;
		margin: 0px 0px;
	}
	.contact-inner input {
		width: 100%;
	}
	footer{
		text-align: center;
		padding: 50px 0;
	}
	.information, .subscribe-us, .useful-links{
		margin-top: 30px;
	}
	.search {
		padding: 10px 5px;
		margin-left: 100px;
		margin-right: 100px;
	}
	.search input {
		width: 80%;
	}
}

/* 
// Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	p {
		font-size: 15px;
		font-weight: 300;
	}
	.navbar-nav {
		background: #F7F9FF;
		text-align: center;
		padding: 20px 0;
		border-radius: 5px;
	}
	/* .navbar-brand img {
		width: 50%;
	} */
	#banner {
		height: 60vh;
	}
	.banner-left-content h2 {
		font-size: 28px;
		line-height: 38px;
	}
	#banner h2 span {
		font-size: 30px;
	}
	#banner p {
		font-size: 16px;
		letter-spacing: 4px;
		line-height: 26px;
	}
	#banner a.primary-btn {
		font-size: 16px;
		padding: 8px 20px;
		margin-top: 12px;
	}
	#banner a.primary-btn-2 {
		font-size: 16px;
		padding: 8px 20px;
		margin-top: 12px;
	}
	.services-content-inner-left h2 {
		font-size: 28px;
		line-height: 38px;
	}
	.services-content-inner-left h2 span {
		font-size: 28px;
	}
	.service-box-left h3 {
		font-size: 20px;
	}
	.service-box-right li {
		font-size: 14px;
	}
	.title h2 {
		font-size: 28px;
		line-height: 38px;
	}
	#why-we .title::after {
		width: 81%;
	}
	.why-we-box h3 {
		font-size: 8px;
	}
	.why-we-box {
		padding: 15px 10px;
	}
	#team img {
		height: 200px;
	}
	#team .title p {
		font-weight: 300;
	}
	#team .team-content {
		padding-top: 50px;
	}
	.counter-box i {
		font-size: 35px;
	}
	.counter-box h2 {
		font-size: 22px;
	}
	.gallery-nav-item {
		margin-top: 40px !important;
	}
	.gallery-nav-item .nav-link {
		font-size: 13px;
	}
	.cv-left-content h2 {
		font-size: 28px;
		line-height: 38px;
	}
	#cv h2 span {
		font-size: 30px;
	}
	#cv p {
		font-size: 16px;
		letter-spacing: 4px;
		line-height: 26px;
	}
	#cv a.primary-btn {
		font-size: 16px;
		padding: 8px 20px;
		margin-top: 12px;
	}
	.contact-inner {
		margin: 0;
	}
	.social-icons ul li {
		margin: 0px 1px;
		height: 28px;
		width: 28px;
		padding-top: 2px;
	}
	.information h4 {
		font-size: 15px;
	}
	.media-body {
		font-size: 13px;
	}
	.useful-links h4 {
		font-size: 15px;
	}
	.useful-links a {
		font-size: 13px;
	}
	.subscribe-us h4 {
		font-size: 15px;
	}
	.subscribe-us p {
		font-size: 13px;
	}
	.search {
		border: 1px solid #353232;
	}
	.search input {
		width: 75%;
	}
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}
/* // Only for Ipad-pro or Ipad Landscape mode */
@media only screen and (width: 1024px){
	p {
		line-height: 26px;
		font-size: 15px;
	}
	/* .navbar-brand img {
		width: 50%;
	} */
	header .navbar-light .navbar-nav .nav-link {
		font-size: 14px;
		margin-left: 2px;
	}
	#banner {
		height: 100vh;
	}
	#banner p {
		font-size: 15px;
		line-height: 40px;
		letter-spacing: 8px;
	}
	#banner a.primary-btn {
		font-size: 16px;
		padding: 8px 30px;
	}
	#banner a.primary-btn-2 {
		font-size: 16px;
		padding: 8px 30px;
	}
	.banner-left-content h2 {
		font-size: 34px;
		line-height: 50px;
	}
	#services {
		margin-top: -100px;
	}
	.services-content-inner-left h2 {
		font-size: 32px;
		line-height: 40px;
	}
	.services-content-inner-left h2 span {
		font-size: 32px;
	}
	.service-box-right li {
		font-size: 15px;
	}
	.title h2 {
		font-size: 32px;
	}
	#why-we .title::after {
		width: 79%;
	}
	.why-we-box h3 {
		font-size: 12px;
	}
	.cv-left-content h2 {
		font-size: 32px;
		line-height: 40px;
	}
	#cv p {
		font-size: 16px;
		letter-spacing: 8px;
	}
	#cv a.primary-btn {
		font-size: 16px;
		padding: 8px 30px;
		margin-top: 15px;
	}
	.contact-inner input {
		width: 44%;
	}
	.information h4 {
		font-size: 22px;
	}
	.media-body {
		font-size: 15px;
	}
	.useful-links a {
		font-size: 15px;
	}
	.search input {
		width: 75%;
	}
}
/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}